{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}


    <!-- Page Heading banner -->
    <div class="overlay-dark theme-padding parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/inner-banner/img-04.jpg">
    </div>
    <!-- Page Heading banner -->

    <!-- Main Content -->
    <main class="main-content">

        <!-- Shop Detail -->
        <div class="theme-padding white-bg">
            <div class="container">
                <div class="row">

                    <!-- Shop Content -->
                    <div class="col-lg-9 col-sm-8 products-content-holder">

                        <!-- Full Width -->
                        <div class="shop-sort">
                            <p>Showing 1– 09 of 23 results</p>
                            <ul>
                                <li>
                                    <label>Sort By</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </li>
                                <li>
                                    <label>Select an Item</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </li>
                                <li><a class="fa fa-th-list" href="#"></a></li>
                                <li><a class="fa fa-th" href="#"></a></li>
                            </ul>
                        </div>
                        <!-- Full Width -->

                        <!-- Products -->
                        <div class="shop-holder theme-padding-bottom">
                            <div class="row">

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-1.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-2.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-3.jpg') }}" alt="">
                                                <span class="sale-batch">sale</span>
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-4.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-5.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-6.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-7.jpg') }}" alt="">
                                                <span class="sale-batch">sale</span>
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-8.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                                <!-- Product Column -->
                                <div class="col-lg-4 col-sm-6 col-xs-6 r-full-width">
                                    <div class="product-column">
                                        <div class="product-column-inner">
                                            <div class="product-img">
                                                <img src="{{ asset('images/products/img-2-9.jpg') }}" alt="">
                                            </div>
                                            <h5>Sports T-Shirt</h5>
                                            <span class="product-use">Men’s Running Shirt</span>
                                        </div>
                                        <div class="btm">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <span class="price">$39.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Column -->

                            </div>
                        </div>
                        <!-- Products -->

                        <!-- Pagination -->
                        <div class="pagination-holder">
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-angle-double-left"></i>Previous</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                                <li><a href="#">28</a></li>
                                <li><a href="#">Next<i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Pagination -->

                    </div>
                    <!-- Shop Content -->

                    <!-- Aside -->
                    <div class="col-lg-3 col-sm-4">

                        <!-- Aside Widget -->
                        <div class="aside-widget style-2">
                            <h3>Top Categories</h3>
                            <div class="shopping-cart-widget">
                                <ul>
                                    <li>
                                        <img src="{{ asset('images/shop-detail/add-cart-01.jpg') }}" alt="">
                                        <h5><a href="#">Blue Shirt</a></h5>
                                        <span class="price">$12.00</span>
                                        <span class="cencel-product">x</span>
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/shop-detail/add-cart-02.jpg') }}" alt="">
                                        <h5><a href="#">Blue Shirt</a></h5>
                                        <span class="price">$12.00</span>
                                        <span class="cencel-product">x</span>
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/shop-detail/add-cart-03.jpg') }}" alt="">
                                        <h5><a href="#">Blue Shirt</a></h5>
                                        <span class="price">$12.00</span>
                                        <span class="cencel-product">x</span>
                                    </li>
                                </ul>
                                <div class="total-price">
                                    <span class="pull-left">Total</span>
                                    <span class="pull-right">$117.00</span>
                                </div>
                                <a class="btn red-btn full-width" href="#">proceed to checkout</a>
                            </div>
                        </div>
                        <!-- Aside Widget -->

                        <!-- Aside Widget -->
                        <div class="aside-widget style-2">
                            <h3>Top Categories</h3>
                            <div class="range-slider">
                                <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
                                <span>Price Range $20 to $85</span>
                            </div>
                        </div>
                        <!-- Aside Widget -->

                        <!-- Aside Widget -->
                        <div class="aside-widget style-2">
                            <h3>Best Sellers</h3>
                            <div class="shopping-cart-widget">
                                <ul>
                                    <li>
                                        <img src="{{ asset('images/best-sellers/img-01.jpg') }}" alt="">
                                        <h5><a href="#">Gloves</a></h5>
                                        <span class="price">$12.00 <del>$32.00</del></span>
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/best-sellers/img-02.jpg') }}" alt="">
                                        <h5><a href="#">Trophy</a></h5>
                                        <span class="price">$12.00</span>
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/best-sellers/img-03.jpg') }}" alt="">
                                        <h5><a href="#">Shoes</a></h5>
                                        <span class="price">$12.00 <del>$32.00</del></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Aside Widget -->

                    </div>
                    <!-- Aside -->

                </div>
            </div>
        </div>
        <!-- Shop Detail -->

    </main>
    <!-- Main Content -->
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}