{% extends 'baseadmin.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
<!-- Datatables -->

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Users <small>Some examples to get you started</small></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Fixed Header Example <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        This example shows FixedHeader being styling by the Bootstrap CSS framework.
                    </p>
                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">ID Prono</th>
                            <th class="text-center">ID Match</th>
                            <th class="text-center">Nom d'utilisateur</th>
                            <th class="text-center">Prenom d'utilisateur</th>
                            <th class="text-center">Choix d'utilisateur</th>
                            <th class="text-center">Statut</th>
                        </tr>
                        </thead>


                        <tbody>
                        {% for v in m %}
                            <tr>

                                <td> {{ v.idProno }}</td>
                                <td> {{ v.idMatch.idMatch }}</td>
                                <td> {{ v.idUser.nom }}</td>
                                <td> {{ v.idUser.prenom }}</td>
                                <td> {{ v.choixUtilisateur }}</td>
                                <td> {{ v.stautParis }}</td>
                                <td> <a href="{{ path('PronostiquesValide',{'idU':v.idUser.id,'idP':v.idProno})}}">Definir en tant que gagnant </a> <td>
                                <td> <a href="{{ path('PronostiquesNonValide',{'idU':v.idUser.id,'idP':v.idProno}) }}">Perdu </a> <td>



                            </tr>
                            <tr>
                               !!!!!!!!!!!! hedhom ezouz zeydin!!!!!!!!!
                                <a href="{{ path('ajout_Prono') }}">Ajouter une Prono </a>
                                <a href="{{ path('modifier_Prono',{'id':v.idProno}) }}">Modifier Pronostique </a>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>





    <!-- /page content -->
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
